<div class="row">

  <div class="col-lg-12">
    <h1>User</h1>
  </div>
  <form [formGroup]="formgroup" (ngSubmit)="submit(formgroup.value)">
    <div class="col-lg-12 form-group">

      <label>Name

        <span class="text-danger small"
          *ngIf="formgroup.controls.name.touched && formgroup.controls.name.invalid">Please Enter Name</span>

      </label>
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>


    <div class="col-lg-12 form-group">

      <label>Email</label>

      <span class="text-danger small"
        *ngIf="formgroup.controls.email.touched && formgroup.controls.email.invalid">Please
        Enter Valid Email</span>

      <input type="text" class="form-control" formControlName="email" placeholder="Email">
    </div>


    <div class="col-lg-12 form-group">

      <label>Mobileno</label>

      <span class="text-danger small"
        *ngIf="formgroup.controls.mobileno.touched && formgroup.controls.mobileno.invalid">Please Enter Mobile NO</span>

      <input type="text" class="form-control" formControlName="mobileno" placeholder="mobileno">
    </div>


    <div class="col-lg-12 form-group mt-3">
      <button type="submit" [disabled]="formgroup.invalid  || posting "    class="btn btn-outline-primary">Save</button>
    </div>
  </form>


</div>




<!-- <div class="row">

  <div class="col-lg-12">
    <h1>User</h1>
  </div>

  <div class="col-lg-12 form-group">

    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="name">
  </div>


  <div class="col-lg-12 form-group">

    <label>Email</label>
    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email">
  </div>


  <div class="col-lg-12 form-group">

    <label>Mobileno</label>
    <input type="text" class="form-control" [(ngModel)]="mobileno" placeholder="mobileno">

  </div>

  <div class="col-lg-12 form-group mt-3">
    <button [disabled]="name=='' || email=='' || mobileno=='' || posting " (click)="submit()"
      class="btn btn-outline-primary">Save</button>
  </div>


</div> -->
